<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203736911843-53ijbjm5sd20ses4et31m7j588erumlh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203736911843-53ijbjm5sd20ses4et31m7j588erumlh</string>
	<key>API_KEY</key>
	<string>AIzaSyAcJHgM5DnYJ0L2VajkdX3RBxrghm8DGHY</string>
	<key>GCM_SENDER_ID</key>
	<string>203736911843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TaskMutuals.icloud.com</string>
	<key>PROJECT_ID</key>
	<string>taskmutuals</string>
	<key>STORAGE_BUCKET</key>
	<string>taskmutuals.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:203736911843:ios:2954b87c4fe7f712919ad6</string>
</dict>
</plist>
